<div class="name-card">
  <div class="name-card__profile">
    <img
      class="name-card__image"
      src="../assets/images/john-doe.jpg"
      alt="Profile picture"
    />
  </div>

  <div class="name-card__details">
    <span class="name-card__name">John Doe</span>
    <span class="name-card__job">Software Developer</span>
  </div>

  <div class="name-card__media">
    <a style="background-color: #1877f2" class="name-card__link" href="#">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a style="background-color: #0077b5" class="name-card__link" href="#">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a
      style="
        background: linear-gradient(
          45deg,
          #f09433 0%,
          #e6683c 25%,
          #dc2743 50%,
          #cc2366 75%,
          #bc1888 100%
        );
      "
      class="name-card__link"
      href="#"
    >
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a style="background-color: #313030" class="name-card__link" href="#">
      <i class="fa-brands fa-github-alt"></i>
    </a>
    <a style="background-color: #1d1b1b" class="name-card__link" href="#">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
  </div>

  <div class="name-card__description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut ultricies
      felis. Nullam nec purus nec nunc tincidunt tincidunt.
    </p>
  </div>

  <div class="name-card__contact">
    <button class="name-card__button name-card__button--primary">Follow</button>
    <button class="name-card__button name-card__button--secondary">
      Contact
    </button>
  </div>
</div>
