<div class="name-card">
  <div class="name-card__profile">
    <img
      class="name-card__image"
      src="../assets/images/john-doe.jpg"
      alt="Profile picture"
    />
  </div>

  <div class="name-card__details">
    <span class="name-card__name">John Doe</span>
    <span class="name-card__job">Software Developer</span>
  </div>

  <div class="name-card__media">
    <a class="name-card__link" href="#">
      <mat-icon fontIcon="facebook"></mat-icon>
    </a>
    <a class="name-card__link" href="#">
      <mat-icon fontIcon="linkedIn"></mat-icon>
    </a>
    <a class="name-card__link" href="#">
      <mat-icon fontIcon="github"></mat-icon>
    </a>
    <a class="name-card__link" href="#">
      <mat-icon fontIcon="facebook"></mat-icon>
    </a>
  </div>
</div>
